@keyframes banner-load {
    0% {transform: scale(0) rotateX(180deg);}
    100% {transform: scale(1) rotateX(0);}
}

/* ================================================================ */

div.content-full {
    margin-top: 32px;
}

div.header > img {
    width: 100%;
    animation: banner-load 300ms ease-in;
    image-rendering: auto;
}

div#stamps {
    display: inline-block;
}

/* ================================================================ */

div.about div.info-card {
    display: flex;
    flex-direction: column;
}

div.about div.info-card > div {
    display: flex;
    flex-direction: row;
}

div.about div.info-card div.profile-pic {
    text-align: center;
}

div.about div.info-card div.profile-pic img {
    border-radius: 3px;
}

div.about div.info-card ul {
    list-style-type: none;
}

div.about div.info-card ul li {
    padding: 5px 0 5px 0;
}
div.about div.info-card ul li:before {
    content: "➤ ";
}

div#blinkers {
    width: 100%;
    display: inline-table;
    margin-top: 32px;
}

div#blinkers img {
    height: 22px;
}

/* ================================================================ */