@keyframes banner-load {
    0% {transform: scale(0) rotateX(180deg);}
    100% {transform: scale(1) rotateX(0);}
}

/* ================================================================ */

div.content-full {
    margin-top: 32px;
}

div.header > img {
    animation: banner-load 300ms ease-in;
}

div#blinkers img {
    width: 100%;
}

div.neighbors ul li:before {
    content: "➤ ";
}

/* ================================================================ */

div.about div.info-card {
    display: flex;
    flex-direction: row;
}

div.about div.info-card > div.profile-pic {
    text-align: center;
}

div.about div.info-card > div.profile-pic img {
    border-radius: 3px;
}

div.about div.info-card ul {
    list-style-type: none;
}

div.about div.info-card ul li {
    padding: 5px 0 5px 0;
}

/* ================================================================ */