
/* ==================================================== */

div.journal {
    display: flex;
    flex-direction: column-reverse;
}

div.archive div.title {
    position: relative;
    cursor: pointer;
}

div.archive div.title > div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    border-top: 2px solid var(--text-color);
    z-index: -1;
}

div.archive div.title h3 {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    padding: 0 16px;
    background-color: var(--bg-color);
    z-index: 0;
}

div.archive ul {
    display: flex;
    flex-direction: column-reverse;
}

div.archive ul li::before {
    content: "- ";
}

div.archive > div.body {
    display: none;
}

div.archive:last-of-type > div.body {
    display: block;
}

/* ==================================================== */

div.center-column.post {
    width: 50%;
}

div.center-column.post div.content-full {
    padding: 32px 0;
}

div.post div.elements {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.post div.body {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--text-color);
}

div.post span {
    color: rgba(255, 255, 255, 0.6);
}

div.post h1 {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--text-color);
}

div.post p::before {
    content: "- ";
}

div.post ul li::before {
    content: "- ";
}

div.post div.body a::before {
    content: "🔗";
}

div.post div.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.post div.image img {
    width: 50%;
}


/* ==================================================== */
