
div.journal {
    display: flex;
    flex-direction: column-reverse;
}

div.post div.title {
    position: relative;
    cursor: pointer;
}


div.post div.title > div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    border-top: 2px solid var(--text-color);
    z-index: -1;
}

div.post div.title h3 {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    padding: 0 16px;
    background-color: var(--bg-color);
    z-index: 0;
}


div.post p:before {
    content: "- ";
}

div.post ul li:before {
    content: "➤ ";
}

div.post > div.body {
    display: none;
}
div.post:last-of-type > div.body {
    display: block;
}