
* {
    image-rendering: auto;
}

body {
    height: 200vh;
    background-color: white;
    background-size: 40%;
}

body h1,h2,h3,h4,h5,h6,p,b,i,a {
    color: black;
}

div.center-column {
    width: 100%;
}


div.sketches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.sketches > div {
    flex-grow: 0;
    max-width: 30%;
}

div.sketches img {
}

/* ================================================================ */


div#flipbook {
    position: relative;
    z-index: 10;
    transform: rotateZ(30deg);
}

div#flipbook div.turn-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
    background-image: url("/images/sketchbook-paper.png");
}

div#flipbook div.turn-page.hard.front {
    background-image: url("/images/sketchbook-front.png");
}
div#flipbook div.turn-page.hard {
    background-image: url("/images/sketchbook-cover.png");
}

div#flipbook img {
    max-width: 80%;
    max-height: 80%;
    transition: transform 250ms;
}

div#flipbook img:hover {
    transform: scale(1.1);
}