:root {
	--bg-color: #030711;
	--fg-color: #3ff393;
	--text-color: #3ff393;
	--wd-bg-color: #030711;
	--3rd-color: #133B5C;
	--4th-color: #1E5F74;
	--op-color: orangered;
	--std-spacing: 16px;
}

/* =================================================== */

* {
	box-sizing: border-box;
	scrollbar-color: var(--fg-color) var(--bg-color);
	scrollbar-width: thin;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

img {
	position: relative;
	z-index: 10;
}

img.pixelated {
	image-rendering: pixelated;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6,b,p,ul,pre {
	text-shadow: 4px 3px 0 rgba(255, 255, 255, 0.1);
}

p, ul {
	line-height: 20px;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

iframe {
	position: relative;
	z-index: 10;
	border: 1px solid var(--fg-color);
	border-radius: 3px;
}

button {
	cursor: pointer;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-weight: bold;
	padding: 8px 16px 8px 16px;
	border: 1px solid var(--fg-color);
	border-radius: 3px;
	box-shadow: 0 4px 0 var(--fg-color);
	outline: none;
	transition: all 200ms;
}

button:active {
	transform: translateY(4px);
	box-shadow: 0 0px 0 var(--fg-color);
	background-color: var(--fg-color);
	color: var(--bg-color);
}

input, textarea {
	margin: 4px;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 4px;
	border: none;
	outline: none;
	color: var(--text-color);
	border-radius: 4px;
	transition: all 200ms;
}

/* =================================================== */

div.center-column {
	display: flex;
	flex-direction: column;
	width: 70vw;
	min-width: 1000px;
}

div.center-column > div.content {
	display: flex;
	width: 100%;
	flex-direction: row;
}

div.center-column > div.content > div.sidebar, div.center-column > div.content > div.left {
	flex-shrink: 0;
	width: 25%;
	&:nth-child(1) { padding-right: var(--std-spacing); } 
  	&:nth-child(3) { padding-left: var(--std-spacing); }
}

div.center-column > div.content > div.center, div.center-column > div.content > div.right {
	width: 50%;
	flex-grow: 1;
}

div.footer, div.header {
	margin: var(--std-spacing) 0;
	text-align: center;
	color: var(--text-color);
}

/* =================================================== */

div.banner img {
	width: 100%;
	border-radius: 0px;
}

div.window {
	width: 100%;
	border: 1px solid var(--fg-color);
	box-shadow: 5px 5px rgba(0, 0, 0, 1);
	background-color: var(--bg-color);
	border-radius: 3px;
}

div.window > div.title {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100% - 10px;
	padding: 10px 5px 6px 5px;
	background-color: var(--wd-bg-colo);
	border-bottom: 1px solid var(--fg-color);
	color: var(--text-color);
	font-weight: bold;
}

div.window > div.title > img {
	margin-right: 6px;
}

div.window > div.title > div.controls button.collapse {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

div.window > div.title > div.controls button.collapse:hover {
	background-color: red;
	color: white;
}

div.window > div.content {
	display: flex;
	flex-direction: column;
	width: 100% - 10px;
	padding: var(--std-spacing);
	background-color: var(--wd-bg-color);
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	color: var(--text-color);
}



div.widgets > div.widget:last-child {
	margin-bottom: 0;
}

div.widget {
	margin-bottom: var(--std-spacing);
}

div.widget div.content img {
	width: 100%;
}


div.element {
	margin-top: var(--std-spacing);
}
div.elements > div.element:first-child {
	margin-top: 0;
}


div.modal-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

div.modal-overlay img {
	max-width: 80vw;
	max-height: 90vh;
}

/* =================================================== */

div.menu div.content {
	padding: 0;
}

div.menu ul {
	list-style-type: none;
}

div.menu ul a {
	text-decoration: none;
	color: var(--fg-color);
}

div.menu ul li.inactive {
	color: grey;
}

div.menu ul a:hover {
	text-decoration: underline;
}

/* =================================================== */

div.messages {
	position: absolute;
	display: none;
	width: 100vw;
}

div.message {
	position: absolute;
	max-width: 260px;
	border-color: var(--op-color);
	color: var(--op-color);
	z-index: 15;
	cursor: grab;
}

div.message div.title {
	border-color: var(--op-color);
	color: var(--op-color);
}

div.message div.title div.controls {
	position: absolute;
	right: 6px;
	top: 6px;
}

div.message div.title div.controls > * {
	padding: 4px 2px;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
}

div.message div.title div.controls path {
	pointer-events: none;
}

div.message div.title div.controls > *:hover {
	background-color: var(--op-color);
	color: var(--wd-bg-color);
}

div.message div.content {
	padding: 16px 16px;
}

div.message p, div.message b, div.message a {
	color: var(--op-color);
	margin: 0;
}

div.message span {
	color: rgba(255, 255, 255, 0.6);
	font-size: 8px;
}

div.message input, div.message textarea {
	color: var(--op-color);
}

div.message div.body {
	padding-top: 4px;
	margin: 4px 0;
	border-top: 1px dotted var(--op-color);
}


div#message-writer {
	top: 50vh;
	left: 5%;
	z-index: 16;
}

div#message-writer input#username {
	font-weight: bold;
}

div#message-writer input[type=button] {
	cursor: pointer;
	border: 1px solid var(--op-color);
	font-weight: bold;
}

div#message-writer input[type=button]:hover {
	background-color: var(--op-color);
	color: var(--wd-bg-color);
}

div#message-writer textarea {
	height: 100px;
}

div#message-writer span {
	margin-top: 4px;
	font-size: 12px;
	text-align: center;
}

/* =================================================== */

div.crt-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		rgba(0, 255, 0, 0.1) 0.1em,
		transparent 0.1em
	);
	background-size: 100% 0.3em;
	pointer-events: none;
	z-index: 5;
	opacity: 0.6;
}

canvas#background {
	position: fixed;
	opacity: 0.3;
	z-index: -5;
}


/* =================================================== */