:root {
	--bg-color: #030711;
	--fg-color: #3ff393;
	--text-color: #3ff393;
	--wd-bg-color: #030711;
	--3rd-color: #133B5C;
	--4th-color: #1E5F74;
}
@keyframes crt-flicker {
    0%   { opacity: 0.97; }
    20%  { opacity: 0.92; }
    45%  { opacity: 0.99; }
    70%  { opacity: 0.94; }
    100% { opacity: 0.98; }
}

/* =================================================== */

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

img {
	position: relative;
	z-index: 1;
}

h1,h2,h3,h4,h5,h6,b {
	text-shadow: 0 0 16px var(--text-color);
}

iframe {
	position: relative;
	z-index: 1;
	border: 1px solid var(--fg-color);
	border-radius: 3px;
}

button {
	cursor: pointer;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-weight: bold;
	padding: 8px 16px 8px 16px;
	border: 1px solid var(--fg-color);
	border-radius: 3px;
	box-shadow: 0 4px 0 var(--fg-color);
	outline: none;
	transition: all 200ms;
}

button:active {
	transform: translateY(4px);
	box-shadow: 0 0px 0 var(--fg-color);
	background-color: var(--fg-color);
	color: var(--bg-color);
}

/* =================================================== */

div.center-column {
	display: flex;
	flex-direction: column;
	width: 50%;
	min-width: 1000px;
}

div.center-column > div.content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

div.center-column > div.content > div.left {
	width: 10%;
	min-width: 250px;
}

div.center-column > div.content > div.right {
	width: 100%;
	padding-left: 2vw;
}

div.footer, div.header {
	margin: 32px 0;
	text-align: center;
	color: var(--bg-color);
}

/* =================================================== */

div.banner img {
	border-radius: 3px;
}

div.window {
	width: 100%;
	border: 1px solid var(--fg-color);
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--fg-color);
	border-radius: 3px;
}

div.window > div.title {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100% - 10px;
	padding: 10px 5px 6px 5px;
	background-color: var(--fg-color);
	color: var(--bg-color);
	font-weight: bold;
}

div.window > div.title > img {
	margin-right: 6px;
}

div.window > div.title > div.controls button.collapse {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

div.window > div.title > div.controls button.collapse:hover {
	background-color: red;
	color: white;
}

div.window > div.content {
	display: flex;
	flex-direction: column;
	width: 100% - 10px;
	padding: 32px;
	background-color: var(--wd-bg-color);
	border-radius: 5px;
	overflow: hidden;
	color: var(--text-color);
}



div.widgets > div.widget:last-child {
	margin-bottom: 0;
}

div.widget {
	margin-bottom: 2vw;
}

div.widget div.content img {
	width: 100%;
}


div.element {
	margin: 32px 0;
}
div.elements > div.element:first-child {
	margin-top: 0;
}

div.elements > div.element:last-child {
	margin-bottom: 0;
}



div.modal-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

div.modal-overlay img {
	max-width: 80vw;
	max-height: 90vh;
}

/* =================================================== */

div.menu div.content {
	padding: 0;
}

div.menu ul {
	list-style-type: none;
}

div.menu ul a {
	text-decoration: none;
	color: var(--fg-color);
}

div.menu ul li.inactive {
	color: grey;
}

div.menu ul a:hover {
	text-decoration: underline;
}

/* =================================================== */

div.crt-screen {
	content: " ";
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		rgba(0, 255, 0, 0.1) 0.1em,
		transparent 0.1em
	);
	background-size: 100% 0.3em;
	pointer-events: none;
	z-index: 0;
	animation: crt-flicker 300ms infinite;
}